# Gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# Compiled
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# IDE
.idea/
.vscode/
.eclipse/
*.iws
*.iml
*.ipr
out/

# OS
.DS_Store
Thumbs.db

# Minecraft
runs/
